In [1]:
import panda as pd

ModuleNotFoundError: No module named 'panda'

In [2]:
import panda as pd
data = pd.read_csv('https://raw.githubusercontent.com/imdwipayana/Python-Project-2023/20a37340eb897bd856ca8407b370691c1c8d7780/Presentasi/deposito.csv')
data.head()

ModuleNotFoundError: No module named 'panda'

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('https://raw.githubusercontent.com/imdwipayana/Python-Project-2023/20a37340eb897bd856ca8407b370691c1c8d7780/Presentasi/deposito.csv')
data.head()

,UMUR,PEKERJAAN,STATUS_PERKAWINAN,PENDIDIKAN,KREDIT_RUMAH,PINJAMAN,MENGHUBUNGI_DENGAN,LAMA_BICARA,JUMLAH_KONTAK_SEKARANG,JUMLAH_KONTAK_SEBELUMNYA,HASIL_SEBELUMNYA,DEPOSITO
0,37,wiraswasta,menikah,lulus universitas,tidak,tidak ada,telepon rumah,202,2,1,gagal,belum
1,34,administrasi,lajang,lulus universitas,tidak,ada,HP,288,2,1,sukses,sukses
2,55,pengangguran,cerai,lulus universitas,tidak,tidak ada,HP,212,3,3,sukses,sukses
3,33,buruh,lajang,tidak lulus SD,ya,tidak ada,HP,146,1,1,gagal,belum
4,46,administrasi,lajang,lulus universitas,ya,tidak ada,HP,1166,3,1,gagal,belum

In [5]:
data = pd.read_csv('https://raw.githubusercontent.com/imdwipayana/Python-Project-2023/main/Project/asuransi_mobil.csv')
data.head()

,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,SKOR_KREDIT,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,KM_PER_TAHUN,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,569520,lebih dari 65 tahun,perempuan,kurang dari 10 tahun,SMA,lebih dari 3x UMR,0.629027,ya,setelah 2020,belum menikah,ada,10238,12000.0,keluarga,0,0,0,tidak
1,750365,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,tidak ada,kurang dari UMR,0.357757,tidak,sebelum 2020,belum menikah,tidak ada,10238,16000.0,keluarga,0,0,0,ya
2,199901,kurang dari 25 tahun,perempuan,kurang dari 10 tahun,SMA,antara 1-2x UMR,0.493146,ya,sebelum 2020,belum menikah,tidak ada,10238,11000.0,keluarga,0,0,0,tidak
3,478866,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,universitas,antara 1-2x UMR,0.206013,ya,sebelum 2020,belum menikah,ada,32765,11000.0,keluarga,0,0,0,tidak
4,731664,antara 25-40 tahun,laki-laki,antara 10-20 tahun,tidak ada,antara 1-2x UMR,0.388366,ya,sebelum 2020,belum menikah,tidak ada,32765,12000.0,keluarga,2,0,1,ya

In [6]:
data.describe()

,IDENTITAS,SKOR_KREDIT,KODE_POS,KM_PER_TAHUN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA
count,10000.000000,9018.000000,10000.000000,9043.000000,10000.000000,10000.00000,10000.000000
mean,500521.906800,0.515813,19864.548400,11697.003207,1.482900,0.23920,1.056300
std,290030.768758,0.137688,18915.613855,2818.434528,2.241966,0.55499,1.652454
min,101.000000,0.053358,10238.000000,2000.000000,0.000000,0.00000,0.000000
25%,249638.500000,0.417191,10238.000000,10000.000000,0.000000,0.00000,0.000000
50%,501777.000000,0.525033,10238.000000,12000.000000,0.000000,0.00000,0.000000
75%,753974.500000,0.618312,32765.000000,14000.000000,2.000000,0.00000,2.000000
max,999976.000000,0.960819,92101.000000,22000.000000,22.000000,6.00000,15.000000

In [7]:
# Melihat type data apakah berupa integer, bilangan desimal, atau data kategori
data.dtypes

IDENTITAS                  int64
UMUR                      object
JENIS_KELAMIN             object
PENGALAMAN_MENGEMUDI      object
PENDIDIKAN                object
PENGHASILAN               object
SKOR_KREDIT              float64
PEMILIK_KENDARAAN         object
TAHUN_PRODUKSI            object
STATUS                    object
ANAK                      object
KODE_POS                   int64
KM_PER_TAHUN             float64
JENIS_KENDARAAN           object
TILANG_NGEBUT              int64
TILANG_MABUK               int64
KECELAKAAN_SEBELUMNYA      int64
KLAIM                     object
dtype: object

In [8]:
# mengecek apakah terdapat data yang kosong
data.isnull().sum()

IDENTITAS                  0
UMUR                       0
JENIS_KELAMIN              0
PENGALAMAN_MENGEMUDI       0
PENDIDIKAN                 0
PENGHASILAN                0
SKOR_KREDIT              982
PEMILIK_KENDARAAN          0
TAHUN_PRODUKSI             0
STATUS                     0
ANAK                       0
KODE_POS                   0
KM_PER_TAHUN             957
JENIS_KENDARAAN            0
TILANG_NGEBUT              0
TILANG_MABUK               0
KECELAKAAN_SEBELUMNYA      0
KLAIM                      0
dtype: int64

In [9]:
data_categorical=['SKOR_KREDIT','KM_PER_TAHUN']

In [11]:
data_drop = data.drop(data_categorical, axis = 1)
data_drop.head()

,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,569520,lebih dari 65 tahun,perempuan,kurang dari 10 tahun,SMA,lebih dari 3x UMR,ya,setelah 2020,belum menikah,ada,10238,keluarga,0,0,0,tidak
1,750365,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,tidak ada,kurang dari UMR,tidak,sebelum 2020,belum menikah,tidak ada,10238,keluarga,0,0,0,ya
2,199901,kurang dari 25 tahun,perempuan,kurang dari 10 tahun,SMA,antara 1-2x UMR,ya,sebelum 2020,belum menikah,tidak ada,10238,keluarga,0,0,0,tidak
3,478866,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,universitas,antara 1-2x UMR,ya,sebelum 2020,belum menikah,ada,32765,keluarga,0,0,0,tidak
4,731664,antara 25-40 tahun,laki-laki,antara 10-20 tahun,tidak ada,antara 1-2x UMR,ya,sebelum 2020,belum menikah,tidak ada,32765,keluarga,2,0,1,ya

In [13]:
data[data_categorical].describe()

       SKOR_KREDIT  KM_PER_TAHUN
count  9018.000000   9043.000000
mean      0.515813  11697.003207
std       0.137688   2818.434528
min       0.053358   2000.000000
25%       0.417191  10000.000000
50%       0.525033  12000.000000
75%       0.618312  14000.000000
max       0.960819  22000.000000

In [14]:
# Melihat apa saja isi dari kolom PEKERJAAN (data kategori yang tidak dapat dibandingkan)
data.UMUR.unique()

array(['lebih dari 65 tahun', 'kurang dari 25 tahun',
       'antara 25-40 tahun', 'antara 40-65 tahun'], dtype=object)

In [15]:
data.JENIS_KELAMIN.unique()

array(['perempuan', 'laki-laki'], dtype=object)

In [16]:
data.PENGALAMAN_MENGEMUDI.unique()

array(['kurang dari 10 tahun', 'antara 10-20 tahun', 'antara 20-30 tahun',
       'lebih dari 30 tahun'], dtype=object)

In [17]:
data.PENDIDIKAN.unique()

array(['SMA', 'tidak ada', 'universitas'], dtype=object)

In [18]:
data.PENGHASILAN.unique()

array(['lebih dari 3x UMR', 'kurang dari UMR', 'antara 1-2x UMR',
       'antara 2-3x UMR'], dtype=object)

In [19]:
data.SKOR_KREDIT.unique()

array([0.62902731, 0.35775712, 0.49314579, ..., 0.47094023, 0.36418478,
       0.43522478])

In [20]:
data.PEMILIK_KENDARAAN.unique()

array(['ya', 'tidak'], dtype=object)

In [21]:
data.TAHUN_PRODUKSI.unique()

array(['setelah 2020', 'sebelum 2020'], dtype=object)

In [22]:
data.STATUS.unique()

array(['belum menikah', 'menikah'], dtype=object)

In [23]:
data.ANAK.unique()

array(['ada', 'tidak ada'], dtype=object)

In [24]:
data.KODE_POS.unique()

array([10238, 32765, 92101, 21217], dtype=int64)

In [25]:
data.KM_PER_TAHUN.unique()

array([12000., 16000., 11000., 13000., 14000., 10000.,  8000.,    nan,
       18000., 17000.,  7000., 15000.,  9000.,  5000.,  6000., 19000.,
        4000.,  3000.,  2000., 20000., 21000., 22000.])

In [26]:
data.JENIS_KENDARAAN.unique()

array(['keluarga', 'sport'], dtype=object)

In [27]:
data.TILANG_NGEBUT.unique()

array([ 0,  2,  3,  7,  6,  4, 10, 13,  1,  5,  9,  8, 12, 11, 15, 17, 19,
       18, 16, 14, 22], dtype=int64)

In [28]:
data.TILANG_MABUK.unique()

array([0, 2, 1, 3, 4, 5, 6], dtype=int64)

In [29]:
data.KECELAKAAN_SEBELUMNYA.unique()

array([ 0,  1,  3,  7,  2,  5,  4,  6,  8, 10, 11,  9, 12, 14, 15],
      dtype=int64)

In [30]:
data.KLAIM.unique()

array(['tidak', 'ya'], dtype=object)

In [34]:
data.PENDIDIKAN.unique()

array(['SMA', 'tidak ada', 'universitas'], dtype=object)

In [35]:
# Melakukan mapping dari Pendidikan karena walaupun pendidikan merupakan data kategori, akan tetapi
# terdapat peningkatan dari SD, SMP, SMA, Diploma dan Universitas.
data['PENDIDIKAN'] = \
data['PENDIDIKAN'].map({'lulus universitas':5,'lulus SMA':3,'lulus SMP':2,'lulus diploma':4,'tidak lulus SD':0,'lulus SD':1})

In [36]:
data['UMUR'] = \
data['UMUR'].map({'lebih dari 65 tahun':0, 'kurang dari 25 tahun':1,
       'antara 25-40 tahun':2, 'antara 40-65 tahun':3})

In [39]:
data['JENIS_KELAMIN'] = \
data['JENIS_KELAMIN'].map({'perempuan':0, 'laki-laki':1})

In [40]:
data['PENGALAMAN_MENGEMUDI'] = \
data['PENGALAMAN_MENGEMUDI'].map({'kurang dari 10 tahun':0, 'antara 10-20 tahun':1, 'antara 20-30 tahun':2,
       'lebih dari 30 tahun':3})

In [41]:
data['PENGHASILAN'] = \
data['PENGHASILAN'].map({'lebih dari 3x UMR':0, 'kurang dari UMR':1, 'antara 1-2x UMR':2,
       'antara 2-3x UMR':3})

In [42]:
data['PEMILIK_KENDARAAN'] = \
data['PEMILIK_KENDARAAN'].map({'ya':0, 'tidak':1})

In [43]:
data['TAHUN_PRODUKSI'] = \
data['TAHUN_PRODUKSI'].map({'setelah 2020':0, 'sebelum 2020':1})

In [44]:
data['STATUS'] = \
data['STATUS'].map({'belum menikah':0, 'menikah':1})

In [45]:
data['ANAK'] = \
data['ANAK'].map({'ada':0, 'tidak ada':1})

In [46]:
data['JENIS_KENDARAAN'] = \
data['JENIS_KENDARAAN'].map({'keluarga':0, 'sport':1})

In [47]:
data['KLAIM'] = \
data['KLAIM'].map({'tidak':0, 'ya':1})

In [48]:
data.describe()

,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,SKOR_KREDIT,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,KM_PER_TAHUN,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
count,10000.000000,10000.000000,10000.000000,10000.000000,0.0,10000.000000,9018.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,9043.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000
mean,500521.906800,1.693500,0.499000,1.069300,NaN,1.165200,0.515813,0.303000,0.696700,0.498200,0.311200,19864.548400,11697.003207,0.047700,1.482900,0.23920,1.056300,0.313300
std,290030.768758,1.094019,0.500024,0.990452,NaN,1.197018,0.137688,0.459578,0.459707,0.500022,0.463008,18915.613855,2818.434528,0.213141,2.241966,0.55499,1.652454,0.463858
min,101.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.053358,0.000000,0.000000,0.000000,0.000000,10238.000000,2000.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,249638.500000,1.000000,0.000000,0.000000,NaN,0.000000,0.417191,0.000000,0.000000,0.000000,0.000000,10238.000000,10000.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,501777.000000,2.000000,0.000000,1.000000,NaN,1.000000,0.525033,0.000000,1.000000,0.000000,0.000000,10238.000000,12000.000000,0.000000,0.000000,0.00000,0.000000,0.000000
75%,753974.500000,3.000000,1.000000,2.000000,NaN,2.000000,0.618312,1.000000,1.000000,1.000000,1.000000,32765.000000,14000.000000,0.000000,2.000000,0.00000,2.000000,1.000000
max,999976.000000,3.000000,1.000000,3.000000,NaN,3.000000,0.960819,1.000000,1.000000,1.000000,1.000000,92101.000000,22000.000000,1.000000,22.000000,6.00000,15.000000,1.000000

In [49]:
data.columns

Index(['IDENTITAS', 'UMUR', 'JENIS_KELAMIN', 'PENGALAMAN_MENGEMUDI',
       'PENDIDIKAN', 'PENGHASILAN', 'SKOR_KREDIT', 'PEMILIK_KENDARAAN',
       'TAHUN_PRODUKSI', 'STATUS', 'ANAK', 'KODE_POS', 'KM_PER_TAHUN',
       'JENIS_KENDARAAN', 'TILANG_NGEBUT', 'TILANG_MABUK',
       'KECELAKAAN_SEBELUMNYA', 'KLAIM'],
      dtype='object')

In [50]:
data.dtypes

IDENTITAS                  int64
UMUR                       int64
JENIS_KELAMIN              int64
PENGALAMAN_MENGEMUDI       int64
PENDIDIKAN               float64
PENGHASILAN                int64
SKOR_KREDIT              float64
PEMILIK_KENDARAAN          int64
TAHUN_PRODUKSI             int64
STATUS                     int64
ANAK                       int64
KODE_POS                   int64
KM_PER_TAHUN             float64
JENIS_KENDARAAN            int64
TILANG_NGEBUT              int64
TILANG_MABUK               int64
KECELAKAAN_SEBELUMNYA      int64
KLAIM                      int64
dtype: object

In [51]:
# Normalisasi data dalam bentuk numerik
from sklearn import preprocessing

scaler = preprocessing.MinMaxScaler()
d = scaler.fit_transform(data[data_categorical])
data_normalisasi = pd.DataFrame(d, columns=data[data_categorical].columns)
data_normalisasi.head(10)

   SKOR_KREDIT  KM_PER_TAHUN
0     0.634374          0.50
1     0.335441          0.70
2     0.484636          0.45
3     0.168222          0.45
4     0.369171          0.50
5     0.623464          0.55
6     0.484413          0.55
7     0.457685          0.60
8     0.516229          0.55
9     0.559995          0.45

In [52]:
data_normalisasi.describe()

       SKOR_KREDIT  KM_PER_TAHUN
count  9018.000000   9043.000000
mean      0.509614      0.484850
std       0.151729      0.140922
min       0.000000      0.000000
25%       0.400936      0.400000
50%       0.519774      0.500000
75%       0.622566      0.600000
max       1.000000      1.000000

In [53]:
data_fix = pd.concat([data_normalisasi, data_drop], axis=1, join='inner')
data_fix.head()

,SKOR_KREDIT,KM_PER_TAHUN,IDENTITAS,UMUR,JENIS_KELAMIN,PENGALAMAN_MENGEMUDI,PENDIDIKAN,PENGHASILAN,PEMILIK_KENDARAAN,TAHUN_PRODUKSI,STATUS,ANAK,KODE_POS,JENIS_KENDARAAN,TILANG_NGEBUT,TILANG_MABUK,KECELAKAAN_SEBELUMNYA,KLAIM
0,0.634374,0.50,569520,lebih dari 65 tahun,perempuan,kurang dari 10 tahun,SMA,lebih dari 3x UMR,ya,setelah 2020,belum menikah,ada,10238,keluarga,0,0,0,tidak
1,0.335441,0.70,750365,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,tidak ada,kurang dari UMR,tidak,sebelum 2020,belum menikah,tidak ada,10238,keluarga,0,0,0,ya
2,0.484636,0.45,199901,kurang dari 25 tahun,perempuan,kurang dari 10 tahun,SMA,antara 1-2x UMR,ya,sebelum 2020,belum menikah,tidak ada,10238,keluarga,0,0,0,tidak
3,0.168222,0.45,478866,kurang dari 25 tahun,laki-laki,kurang dari 10 tahun,universitas,antara 1-2x UMR,ya,sebelum 2020,belum menikah,ada,32765,keluarga,0,0,0,tidak
4,0.369171,0.50,731664,antara 25-40 tahun,laki-laki,antara 10-20 tahun,tidak ada,antara 1-2x UMR,ya,sebelum 2020,belum menikah,tidak ada,32765,keluarga,2,0,1,ya

In [54]:
X = data_fix.drop(['KLAIM'], axis =1) 
y = data_fix['KLAIM']